{% extends "layout.html" %}

{% block title %}
    Venues
{% endblock %}

{% block main %}
    <h2>Venues</h2>
    <table class = "table table-sm">
        <thead>
            <th class="text-left">Venue</th>
            <th class="text-center">Concerts</th>
       </thead>
        <tbody>
            {% for venue in venues %}
            <tr>
                <td class="text-left">{{ venue.venue_name }}</td>
                <td class="text-center">
                    <a href="/venueconcerts?id={{ venue.venue_id }}">
                        <button class="btn btn-outline-secondary btn-sm">
                            <i class="fas fa-file-alt"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}